body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}
#navbar{
    display:flex;
    width:100%;
    background:#d2dbe0;
}
.navbar-item{
    width:33%;
    list-style-type:none;
    border: none;
    background:none;
    padding: 15px;
    transition:0.1s;
    font-size: 20px;
}
.navbar-item:hover{
    list-style-type:none;
    background:#bac9cf;
    cursor:pointer;
    transition:0.1s;
}

/* Product List Page */
.product{
    display:flex;
    border:none;
    background:#f6fcff;
    width:100%;
}
.product:hover{
    background:#e8eff2;
    cursor:pointer;
    transition:0.1s;
    
}
.product-image{
    width:100%;
    border-radius: 10px;
}
.product-label{
    width:20%;
}
.product-price{
    float:left;
}
.product-content{
    margin-left:20px;
}

/* Product Details Page */
.product-details-wrapper{
    margin: 20px;
    display:flex;
    width:100%;
}
.product-details-image {
    width:45%;
}
.product-details-image img{
    width:100%;
    border-radius: 10px;
}
.product-details-content{
    width:45%;
    margin-left:20px;
}

.product-details-price{
    font-size: 30px;
    margin-top: 30px;
    float:right;
}
#search{
    font-size: 20px;
    width: 96%;
    padding: 12px 20px;
    margin: 8px;
    border-radius: 4px;
}